--
-- PostgreSQL database dump
--

\restrict EOINhLBRz7EHgqLG13UFfN3O7PsxfrZfHkpRkWZNgS0uCcqVxiZ6UBmO9GPWOx9

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: set_brigade_status_on_section_change(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_brigade_status_on_section_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  -- 1) ╨┐╨╛╨┐╨╡╤А╨╡╨┤╨╜╤П ╨▒╤А╨╕╨│╨░╨┤╨░ (╨┐╤А╨╕ UPDATE/DELETE)

  IF TG_OP IN ('UPDATE','DELETE') AND OLD.brigade_id IS NOT NULL THEN

    IF NOT EXISTS (

      SELECT 1 FROM sections

      WHERE brigade_id = OLD.brigade_id AND end_date IS NULL

    ) THEN

      UPDATE brigades SET status = '╨Э╨╡╨░╨║╤В╨╕╨▓╨╜╨░' WHERE id = OLD.brigade_id;

    END IF;

  END IF;



  -- 2) ╨╜╨╛╨▓╨░ ╨▒╤А╨╕╨│╨░╨┤╨░ (╨┐╤А╨╕ INSERT/UPDATE)

  IF TG_OP IN ('INSERT','UPDATE') AND NEW.brigade_id IS NOT NULL THEN

    IF NEW.end_date IS NULL THEN

      UPDATE brigades SET status = '╨Р╨║╤В╨╕╨▓╨╜╨░' WHERE id = NEW.brigade_id;

    ELSE

      IF NOT EXISTS (

        SELECT 1 FROM sections

        WHERE brigade_id = NEW.brigade_id AND end_date IS NULL

      ) THEN

        UPDATE brigades SET status = '╨Э╨╡╨░╨║╤В╨╕╨▓╨╜╨░' WHERE id = NEW.brigade_id;

      END IF;

    END IF;

  END IF;



  RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_brigade_status_on_section_change() OWNER TO postgres;

--
-- Name: trg_decrease_stock_on_usage_fn(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trg_decrease_stock_on_usage_fn() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    cur_price NUMERIC(10,2);

BEGIN

    -- ╨Я╨╡╤А╨╡╨▓╤Ц╤А╨║╨░ ╨╖╨░╨╗╨╕╤И╨║╤Г

    IF (SELECT count FROM materials WHERE id = NEW.material_id) < NEW.quantity THEN

        RAISE EXCEPTION '╨Э╨╡╨┤╨╛╤Б╤В╨░╤В╨╜╤Ц╨╣ ╨╖╨░╨╗╨╕╤И╨╛╨║ ╨╝╨░╤В╨╡╤А╤Ц╨░╨╗╤Г (id=%) ╨┤╨╗╤П ╤Б╨┐╨╕╤Б╨░╨╜╨╜╤П: ╨┐╨╛╤В╤А╤Ц╨▒╨╜╨╛ %, ╤Ф %',

            NEW.material_id, NEW.quantity, (SELECT count FROM materials WHERE id = NEW.material_id);

    END IF;



    SELECT price INTO cur_price FROM materials WHERE id = NEW.material_id;



    UPDATE materials

       SET count = count - NEW.quantity

     WHERE id = NEW.material_id;



    UPDATE material_usage_items

       SET total_price = NEW.quantity * cur_price

     WHERE id = NEW.id;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.trg_decrease_stock_on_usage_fn() OWNER TO postgres;

--
-- Name: trg_increase_stock_on_delivery_fn(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trg_increase_stock_on_delivery_fn() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE materials

       SET count = count + NEW.quantity,

           price = NEW.price_per_unit     -- ╨╛╨╜╨╛╨▓╨╗╤О╤Ф╨╝╨╛ ╨┐╨╛╤В╨╛╤З╨╜╤Г ╤Б╨║╨╗╨░╨┤╤Б╤М╨║╤Г ╤Ж╤Ц╨╜╤Г ╨╛╤Б╤В╨░╨╜╨╜╤М╨╛╤О ╨╖╨░╨║╤Г╨┐╤Ц╨▓╨╡╨╗╤М╨╜╨╛╤О

     WHERE id = NEW.material_id;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.trg_increase_stock_on_delivery_fn() OWNER TO postgres;

--
-- Name: trg_log_brigade_status_change_fn(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trg_log_brigade_status_change_fn() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF NEW.status IS DISTINCT FROM OLD.status THEN

        INSERT INTO brigade_status_history (brigade_id, old_status, new_status, changed_by)

        VALUES (OLD.id, OLD.status, NEW.status, NULL);

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.trg_log_brigade_status_change_fn() OWNER TO postgres;

--
-- Name: trg_update_delivery_total_fn(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trg_update_delivery_total_fn() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE deliveries d

       SET total_amount = (

           SELECT COALESCE(SUM(total_price),0)

             FROM delivery_items di

            WHERE di.delivery_id = d.id

       )

     WHERE d.id = NEW.delivery_id;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.trg_update_delivery_total_fn() OWNER TO postgres;

--
-- Name: update_total_cost(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_total_cost() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- ╨Я╤Ц╨┤╤А╨░╤Е╤Г╨╜╨╛╨║ ╨▓╨░╤А╤В╨╛╤Б╤В╤Ц

    SELECT price INTO STRICT NEW.total_cost

    FROM materials

    WHERE id = NEW.material_id;



    NEW.total_cost := NEW.total_cost * NEW.quantity;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_total_cost() OWNER TO postgres;

--
-- Name: update_work_total_cost(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_work_total_cost() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    SELECT cost_per_unit INTO STRICT NEW.total_cost

    FROM work_types

    WHERE id = NEW.work_type_id;



    NEW.total_cost := NEW.total_cost * NEW.volume;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_work_total_cost() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_keys (
    id bigint CONSTRAINT accounts_customuser_id_not_null NOT NULL,
    username character varying(150) CONSTRAINT accounts_customuser_username_not_null NOT NULL,
    password_hash character varying(255) CONSTRAINT accounts_customuser_password_hash_not_null NOT NULL,
    role character varying(20) CONSTRAINT accounts_customuser_role_not_null NOT NULL,
    created_at timestamp with time zone CONSTRAINT accounts_customuser_created_at_not_null NOT NULL,
    reset_code character varying(10)
);


ALTER TABLE public.accounts_keys OWNER TO postgres;

--
-- Name: accounts_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_keys ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_guestrequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_guestrequest (
    id bigint NOT NULL,
    message text NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_guestrequest OWNER TO postgres;

--
-- Name: accounts_guestrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_guestrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_guestrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brigade_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brigade_members (
    brigade_id integer NOT NULL,
    employee_id integer NOT NULL,
    role character varying(100),
    start_date date DEFAULT CURRENT_DATE,
    end_date date
);


ALTER TABLE public.brigade_members OWNER TO postgres;

--
-- Name: brigade_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brigade_status_history (
    id integer NOT NULL,
    brigade_id integer NOT NULL,
    old_status character varying(50),
    new_status character varying(50) NOT NULL,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    changed_by integer,
    CONSTRAINT brigade_status_history_new_status_check CHECK (((new_status)::text = ANY ((ARRAY['╨Р╨║╤В╨╕╨▓╨╜╨░'::character varying, '╨Э╨╡╨░╨║╤В╨╕╨▓╨╜╨░'::character varying])::text[])))
);


ALTER TABLE public.brigade_status_history OWNER TO postgres;

--
-- Name: brigade_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.brigade_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brigade_status_history_id_seq OWNER TO postgres;

--
-- Name: brigade_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.brigade_status_history_id_seq OWNED BY public.brigade_status_history.id;


--
-- Name: brigade_work_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brigade_work_history (
    id integer NOT NULL,
    brigade_id integer NOT NULL,
    section_work_id integer NOT NULL,
    start_date date NOT NULL,
    end_date date
);


ALTER TABLE public.brigade_work_history OWNER TO postgres;

--
-- Name: brigade_work_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.brigade_work_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brigade_work_history_id_seq OWNER TO postgres;

--
-- Name: brigade_work_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.brigade_work_history_id_seq OWNED BY public.brigade_work_history.id;


--
-- Name: brigades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brigades (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    leader_id integer,
    notes text,
    status character varying(50) DEFAULT '╨Э╨╡╨░╨║╤В╨╕╨▓╨╜╨░'::character varying,
    CONSTRAINT brigades_status_check CHECK (((status)::text = ANY ((ARRAY['╨Р╨║╤В╨╕╨▓╨╜╨░'::character varying, '╨Э╨╡╨░╨║╤В╨╕╨▓╨╜╨░'::character varying])::text[])))
);


ALTER TABLE public.brigades OWNER TO postgres;

--
-- Name: brigades_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.brigades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brigades_id_seq OWNER TO postgres;

--
-- Name: brigades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.brigades_id_seq OWNED BY public.brigades.id;


--
-- Name: construction_sites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.construction_sites (
    id integer NOT NULL,
    management_id integer,
    name character varying(255) NOT NULL,
    address text NOT NULL,
    start_date date NOT NULL,
    end_date date,
    responsible_engineer_id integer,
    status character varying(50) DEFAULT '╨Т ╨┐╤А╨╛╤Ж╨╡╤Б╤Ц'::character varying,
    notes text,
    deadline date,
    CONSTRAINT construction_sites_status_check CHECK (((status)::text = ANY ((ARRAY['╨Я╨╗╨░╨╜╤Г╤Ф╤В╤М╤Б╤П'::character varying, '╨Т ╨┐╤А╨╛╤Ж╨╡╤Б╤Ц'::character varying, '╨Ч╨░╨▓╨╡╤А╤И╨╡╨╜╨╛'::character varying, '╨Ч╨░╨▓╨╡╤А╤И╨╡╨╜╨╛ ╤Ц╨╖ ╨╖╨░╨┐╤Ц╨╖╨╜╨╡╨╜╨╜╤П╨╝'::character varying])::text[])))
);


ALTER TABLE public.construction_sites OWNER TO postgres;

--
-- Name: construction_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.construction_sites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.construction_sites_id_seq OWNER TO postgres;

--
-- Name: construction_sites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.construction_sites_id_seq OWNED BY public.construction_sites.id;


--
-- Name: deliveries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deliveries (
    id integer NOT NULL,
    supplier_id integer,
    delivery_date date DEFAULT CURRENT_DATE NOT NULL,
    total_amount numeric(12,2),
    notes text,
    section_id integer,
    CONSTRAINT deliveries_total_amount_check CHECK ((total_amount >= (0)::numeric))
);


ALTER TABLE public.deliveries OWNER TO postgres;

--
-- Name: deliveries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.deliveries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.deliveries_id_seq OWNER TO postgres;

--
-- Name: deliveries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.deliveries_id_seq OWNED BY public.deliveries.id;


--
-- Name: delivery_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.delivery_items (
    id integer NOT NULL,
    delivery_id integer NOT NULL,
    material_id integer NOT NULL,
    quantity numeric(10,2) NOT NULL,
    price_per_unit numeric(10,2) NOT NULL,
    total_price numeric(12,2) GENERATED ALWAYS AS ((quantity * price_per_unit)) STORED,
    CONSTRAINT delivery_items_price_per_unit_check CHECK ((price_per_unit > (0)::numeric)),
    CONSTRAINT delivery_items_quantity_check CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.delivery_items OWNER TO postgres;

--
-- Name: delivery_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.delivery_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.delivery_items_id_seq OWNER TO postgres;

--
-- Name: delivery_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.delivery_items_id_seq OWNED BY public.delivery_items.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.django_admin_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.django_admin_log_id_seq OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.django_admin_log_id_seq OWNED BY public.django_admin_log.id;


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.django_content_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.django_content_type_id_seq OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.django_content_type_id_seq OWNED BY public.django_content_type.id;


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    father_name character varying(255),
    birthday date NOT NULL,
    start_date date NOT NULL,
    end_date date,
    salary numeric(10,2) NOT NULL,
    position_id integer NOT NULL,
    category character varying(50) NOT NULL,
    CONSTRAINT employees_category_check CHECK (((category)::text = ANY ((ARRAY['╨а╨╛╨▒╤Ц╤В╨╜╨╕╨║╨╕'::character varying, '╨Ж╨╜╨╢╨╡╨╜╨╡╤А╨╜╨╛-╤В╨╡╤Е╨╜╤Ц╤З╨╜╨╕╨╣ ╨┐╨╡╤А╤Б╨╛╨╜╨░╨╗'::character varying])::text[]))),
    CONSTRAINT employees_salary_check CHECK ((salary > (0)::numeric))
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employees_id_seq OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: equipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    status character varying(20) DEFAULT '╨Т╤Ц╨╗╤М╨╜╨░'::character varying,
    notes text,
    assigned_site_id integer,
    type_id integer,
    CONSTRAINT equipment_status_check CHECK (((status)::text = ANY ((ARRAY['╨Т╤Ц╨╗╤М╨╜╨░'::character varying, '╨Т ╤А╨╛╨▒╨╛╤В╤Ц'::character varying, '╨Т ╤А╨╡╨╝╨╛╨╜╤В╤Ц'::character varying])::text[])))
);


ALTER TABLE public.equipment OWNER TO postgres;

--
-- Name: equipment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_id_seq OWNER TO postgres;

--
-- Name: equipment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipment_id_seq OWNED BY public.equipment.id;


--
-- Name: equipment_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment_types (
    id integer NOT NULL,
    title character varying(255) NOT NULL
);


ALTER TABLE public.equipment_types OWNER TO postgres;

--
-- Name: equipment_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipment_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_types_id_seq OWNER TO postgres;

--
-- Name: equipment_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipment_types_id_seq OWNED BY public.equipment_types.id;


--
-- Name: equipment_work_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment_work_history (
    id integer NOT NULL,
    equipment_id integer NOT NULL,
    site_id integer NOT NULL,
    start_date date NOT NULL,
    end_date date,
    notes text
);


ALTER TABLE public.equipment_work_history OWNER TO postgres;

--
-- Name: equipment_work_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipment_work_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_work_history_id_seq OWNER TO postgres;

--
-- Name: equipment_work_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipment_work_history_id_seq OWNED BY public.equipment_work_history.id;


--
-- Name: managements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.managements (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    head_employee_id integer,
    notes text
);


ALTER TABLE public.managements OWNER TO postgres;

--
-- Name: managements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.managements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.managements_id_seq OWNER TO postgres;

--
-- Name: managements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.managements_id_seq OWNED BY public.managements.id;


--
-- Name: material_plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_plan (
    id integer NOT NULL,
    section_id integer NOT NULL,
    material_id integer NOT NULL,
    planned_qty numeric(10,2) NOT NULL,
    CONSTRAINT material_plan_planned_qty_check CHECK ((planned_qty >= (0)::numeric))
);


ALTER TABLE public.material_plan OWNER TO postgres;

--
-- Name: material_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_plan_id_seq OWNER TO postgres;

--
-- Name: material_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_plan_id_seq OWNED BY public.material_plan.id;


--
-- Name: material_usage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_usage (
    id integer NOT NULL,
    section_id integer NOT NULL,
    material_id integer NOT NULL,
    used_qty numeric(10,2) NOT NULL,
    CONSTRAINT material_usage_used_qty_check CHECK ((used_qty >= (0)::numeric))
);


ALTER TABLE public.material_usage OWNER TO postgres;

--
-- Name: material_usage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_usage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_usage_id_seq OWNER TO postgres;

--
-- Name: material_usage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_usage_id_seq OWNED BY public.material_usage.id;


--
-- Name: material_usage_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_usage_items (
    id integer NOT NULL,
    usage_id integer NOT NULL,
    material_id integer NOT NULL,
    quantity numeric(10,2) NOT NULL,
    total_price numeric(12,2),
    CONSTRAINT material_usage_items_quantity_check CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.material_usage_items OWNER TO postgres;

--
-- Name: material_usage_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_usage_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_usage_items_id_seq OWNER TO postgres;

--
-- Name: material_usage_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_usage_items_id_seq OWNED BY public.material_usage_items.id;


--
-- Name: materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    supplier_id integer NOT NULL,
    price numeric(10,2) NOT NULL,
    count numeric(10,2) NOT NULL,
    unit_id integer NOT NULL,
    CONSTRAINT materials_count_check CHECK ((count >= (0)::numeric)),
    CONSTRAINT materials_price_check CHECK ((price > (0)::numeric))
);


ALTER TABLE public.materials OWNER TO postgres;

--
-- Name: materials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.materials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.materials_id_seq OWNER TO postgres;

--
-- Name: materials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.materials_id_seq OWNED BY public.materials.id;


--
-- Name: plan_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plan_materials (
    id integer NOT NULL,
    plan_id integer NOT NULL,
    material_id integer NOT NULL,
    required_qty numeric(12,2) NOT NULL,
    CONSTRAINT plan_materials_required_qty_check CHECK ((required_qty >= (0)::numeric))
);


ALTER TABLE public.plan_materials OWNER TO postgres;

--
-- Name: plan_materials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plan_materials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plan_materials_id_seq OWNER TO postgres;

--
-- Name: plan_materials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plan_materials_id_seq OWNED BY public.plan_materials.id;


--
-- Name: positions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.positions (
    id integer NOT NULL,
    title character varying(100) NOT NULL,
    description text,
    category character varying(50) NOT NULL,
    CONSTRAINT chk_positions_category CHECK (((category)::text = ANY ((ARRAY['╨а╨╛╨▒╤Ц╤В╨╜╨╕╨║╨╕'::character varying, '╨Ж╨╜╨╢╨╡╨╜╨╡╤А╨╜╨╛-╤В╨╡╤Е╨╜╤Ц╤З╨╜╨╕╨╣ ╨┐╨╡╤А╤Б╨╛╨╜╨░╨╗'::character varying])::text[])))
);


ALTER TABLE public.positions OWNER TO postgres;

--
-- Name: positions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.positions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.positions_id_seq OWNER TO postgres;

--
-- Name: positions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.positions_id_seq OWNED BY public.positions.id;


--
-- Name: saved_queries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_queries (
    id integer NOT NULL,
    user_id integer NOT NULL,
    query_text text NOT NULL,
    created_at timestamp without time zone NOT NULL,
    result_text text
);


ALTER TABLE public.saved_queries OWNER TO postgres;

--
-- Name: saved_queries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.saved_queries ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.saved_queries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: section_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section_materials (
    id integer NOT NULL,
    section_id integer NOT NULL,
    material_id integer NOT NULL,
    quantity numeric(10,2) NOT NULL,
    total_cost numeric(10,2)
);


ALTER TABLE public.section_materials OWNER TO postgres;

--
-- Name: section_materials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.section_materials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.section_materials_id_seq OWNER TO postgres;

--
-- Name: section_materials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.section_materials_id_seq OWNED BY public.section_materials.id;


--
-- Name: section_work_plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section_work_plan (
    id integer NOT NULL,
    section_id integer NOT NULL,
    work_type_id integer NOT NULL,
    planned_start date NOT NULL,
    planned_end date NOT NULL,
    planned_quantity numeric(12,2) NOT NULL,
    unit_id integer NOT NULL,
    order_index integer,
    notes text,
    CONSTRAINT section_work_plan_planned_quantity_check CHECK ((planned_quantity > (0)::numeric))
);


ALTER TABLE public.section_work_plan OWNER TO postgres;

--
-- Name: section_work_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.section_work_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.section_work_plan_id_seq OWNER TO postgres;

--
-- Name: section_work_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.section_work_plan_id_seq OWNED BY public.section_work_plan.id;


--
-- Name: section_works; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section_works (
    id integer NOT NULL,
    section_id integer NOT NULL,
    work_type_id integer NOT NULL,
    volume numeric(10,2) NOT NULL,
    total_cost numeric(12,2),
    planned_start date,
    planned_end date,
    actual_start date,
    actual_end date
);


ALTER TABLE public.section_works OWNER TO postgres;

--
-- Name: section_works_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.section_works_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.section_works_id_seq OWNER TO postgres;

--
-- Name: section_works_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.section_works_id_seq OWNED BY public.section_works.id;


--
-- Name: sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sections (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    site_id integer NOT NULL,
    chief_id integer,
    brigade_id integer,
    start_date date NOT NULL,
    end_date date,
    notes text
);


ALTER TABLE public.sections OWNER TO postgres;

--
-- Name: sections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sections_id_seq OWNER TO postgres;

--
-- Name: sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sections_id_seq OWNED BY public.sections.id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    contact_name character varying(255),
    phone character varying(50),
    email character varying(100),
    address text
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suppliers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suppliers_id_seq OWNER TO postgres;

--
-- Name: suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.suppliers_id_seq OWNED BY public.suppliers.id;


--
-- Name: units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.units (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    short_name character varying(10) NOT NULL
);


ALTER TABLE public.units OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.units_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.units_id_seq OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.units_id_seq OWNED BY public.units.id;


--
-- Name: work_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_types (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    cost_per_unit numeric(10,2),
    unit_id integer
);


ALTER TABLE public.work_types OWNER TO postgres;

--
-- Name: work_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_types_id_seq OWNER TO postgres;

--
-- Name: work_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_types_id_seq OWNED BY public.work_types.id;


--
-- Name: brigade_status_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_status_history ALTER COLUMN id SET DEFAULT nextval('public.brigade_status_history_id_seq'::regclass);


--
-- Name: brigade_work_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_work_history ALTER COLUMN id SET DEFAULT nextval('public.brigade_work_history_id_seq'::regclass);


--
-- Name: brigades id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigades ALTER COLUMN id SET DEFAULT nextval('public.brigades_id_seq'::regclass);


--
-- Name: construction_sites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_sites ALTER COLUMN id SET DEFAULT nextval('public.construction_sites_id_seq'::regclass);


--
-- Name: deliveries id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries ALTER COLUMN id SET DEFAULT nextval('public.deliveries_id_seq'::regclass);


--
-- Name: delivery_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_items ALTER COLUMN id SET DEFAULT nextval('public.delivery_items_id_seq'::regclass);


--
-- Name: django_admin_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log ALTER COLUMN id SET DEFAULT nextval('public.django_admin_log_id_seq'::regclass);


--
-- Name: django_content_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type ALTER COLUMN id SET DEFAULT nextval('public.django_content_type_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: equipment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment ALTER COLUMN id SET DEFAULT nextval('public.equipment_id_seq'::regclass);


--
-- Name: equipment_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_types ALTER COLUMN id SET DEFAULT nextval('public.equipment_types_id_seq'::regclass);


--
-- Name: equipment_work_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_work_history ALTER COLUMN id SET DEFAULT nextval('public.equipment_work_history_id_seq'::regclass);


--
-- Name: managements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.managements ALTER COLUMN id SET DEFAULT nextval('public.managements_id_seq'::regclass);


--
-- Name: material_plan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_plan ALTER COLUMN id SET DEFAULT nextval('public.material_plan_id_seq'::regclass);


--
-- Name: material_usage id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage ALTER COLUMN id SET DEFAULT nextval('public.material_usage_id_seq'::regclass);


--
-- Name: material_usage_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage_items ALTER COLUMN id SET DEFAULT nextval('public.material_usage_items_id_seq'::regclass);


--
-- Name: materials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials ALTER COLUMN id SET DEFAULT nextval('public.materials_id_seq'::regclass);


--
-- Name: plan_materials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_materials ALTER COLUMN id SET DEFAULT nextval('public.plan_materials_id_seq'::regclass);


--
-- Name: positions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions ALTER COLUMN id SET DEFAULT nextval('public.positions_id_seq'::regclass);


--
-- Name: section_materials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_materials ALTER COLUMN id SET DEFAULT nextval('public.section_materials_id_seq'::regclass);


--
-- Name: section_work_plan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_work_plan ALTER COLUMN id SET DEFAULT nextval('public.section_work_plan_id_seq'::regclass);


--
-- Name: section_works id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_works ALTER COLUMN id SET DEFAULT nextval('public.section_works_id_seq'::regclass);


--
-- Name: sections id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections ALTER COLUMN id SET DEFAULT nextval('public.sections_id_seq'::regclass);


--
-- Name: suppliers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN id SET DEFAULT nextval('public.suppliers_id_seq'::regclass);


--
-- Name: units id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units ALTER COLUMN id SET DEFAULT nextval('public.units_id_seq'::regclass);


--
-- Name: work_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_types ALTER COLUMN id SET DEFAULT nextval('public.work_types_id_seq'::regclass);


--
-- Name: accounts_keys accounts_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_keys
    ADD CONSTRAINT accounts_customuser_pkey PRIMARY KEY (id);


--
-- Name: accounts_keys accounts_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_keys
    ADD CONSTRAINT accounts_customuser_username_key UNIQUE (username);


--
-- Name: accounts_guestrequest accounts_guestrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_guestrequest
    ADD CONSTRAINT accounts_guestrequest_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: brigade_members brigade_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_members
    ADD CONSTRAINT brigade_members_pkey PRIMARY KEY (brigade_id, employee_id);


--
-- Name: brigade_status_history brigade_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_status_history
    ADD CONSTRAINT brigade_status_history_pkey PRIMARY KEY (id);


--
-- Name: brigade_work_history brigade_work_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_work_history
    ADD CONSTRAINT brigade_work_history_pkey PRIMARY KEY (id);


--
-- Name: brigades brigades_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigades
    ADD CONSTRAINT brigades_name_key UNIQUE (name);


--
-- Name: brigades brigades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigades
    ADD CONSTRAINT brigades_pkey PRIMARY KEY (id);


--
-- Name: construction_sites construction_sites_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_sites
    ADD CONSTRAINT construction_sites_name_key UNIQUE (name);


--
-- Name: construction_sites construction_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_sites
    ADD CONSTRAINT construction_sites_pkey PRIMARY KEY (id);


--
-- Name: deliveries deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pkey PRIMARY KEY (id);


--
-- Name: delivery_items delivery_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_items
    ADD CONSTRAINT delivery_items_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (id);


--
-- Name: equipment_types equipment_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_types
    ADD CONSTRAINT equipment_types_pkey PRIMARY KEY (id);


--
-- Name: equipment_work_history equipment_work_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_work_history
    ADD CONSTRAINT equipment_work_history_pkey PRIMARY KEY (id);


--
-- Name: managements managements_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.managements
    ADD CONSTRAINT managements_name_key UNIQUE (name);


--
-- Name: managements managements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.managements
    ADD CONSTRAINT managements_pkey PRIMARY KEY (id);


--
-- Name: material_plan material_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_plan
    ADD CONSTRAINT material_plan_pkey PRIMARY KEY (id);


--
-- Name: material_usage_items material_usage_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage_items
    ADD CONSTRAINT material_usage_items_pkey PRIMARY KEY (id);


--
-- Name: material_usage material_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage
    ADD CONSTRAINT material_usage_pkey PRIMARY KEY (id);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: plan_materials plan_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_materials
    ADD CONSTRAINT plan_materials_pkey PRIMARY KEY (id);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (id);


--
-- Name: positions positions_title_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_title_key UNIQUE (title);


--
-- Name: saved_queries saved_queries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_queries
    ADD CONSTRAINT saved_queries_pkey PRIMARY KEY (id);


--
-- Name: section_materials section_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_materials
    ADD CONSTRAINT section_materials_pkey PRIMARY KEY (id);


--
-- Name: section_work_plan section_work_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_work_plan
    ADD CONSTRAINT section_work_plan_pkey PRIMARY KEY (id);


--
-- Name: section_works section_works_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_works
    ADD CONSTRAINT section_works_pkey PRIMARY KEY (id);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_name_key UNIQUE (name);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: units units_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_name_key UNIQUE (name);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: units units_short_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_short_name_key UNIQUE (short_name);


--
-- Name: material_usage uq_material_usage_section_material; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage
    ADD CONSTRAINT uq_material_usage_section_material UNIQUE (section_id, material_id);


--
-- Name: work_types work_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_types
    ADD CONSTRAINT work_types_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser_username_722f3555_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_customuser_username_722f3555_like ON public.accounts_keys USING btree (username varchar_pattern_ops);


--
-- Name: accounts_guestrequest_user_id_9b57bc70; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_guestrequest_user_id_9b57bc70 ON public.accounts_guestrequest USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: idx_employees_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_category ON public.employees USING btree (category);


--
-- Name: idx_plan_dates; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_plan_dates ON public.section_work_plan USING btree (planned_start, planned_end);


--
-- Name: idx_plan_section_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_plan_section_order ON public.section_work_plan USING btree (section_id, order_index);


--
-- Name: idx_sites_management; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sites_management ON public.construction_sites USING btree (management_id);


--
-- Name: uq_active_brigade_once; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_active_brigade_once ON public.sections USING btree (brigade_id) WHERE ((brigade_id IS NOT NULL) AND (end_date IS NULL));


--
-- Name: material_usage_items trg_decrease_stock_on_usage; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_decrease_stock_on_usage AFTER INSERT ON public.material_usage_items FOR EACH ROW EXECUTE FUNCTION public.trg_decrease_stock_on_usage_fn();


--
-- Name: delivery_items trg_increase_stock_on_delivery; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_increase_stock_on_delivery AFTER INSERT ON public.delivery_items FOR EACH ROW EXECUTE FUNCTION public.trg_increase_stock_on_delivery_fn();


--
-- Name: brigades trg_log_brigade_status_change; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_log_brigade_status_change AFTER UPDATE ON public.brigades FOR EACH ROW EXECUTE FUNCTION public.trg_log_brigade_status_change_fn();


--
-- Name: sections trg_sections_status_aiud; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sections_status_aiud AFTER INSERT OR DELETE OR UPDATE OF brigade_id, end_date ON public.sections FOR EACH ROW EXECUTE FUNCTION public.set_brigade_status_on_section_change();


--
-- Name: delivery_items trg_update_delivery_total; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_delivery_total AFTER INSERT OR UPDATE ON public.delivery_items FOR EACH ROW EXECUTE FUNCTION public.trg_update_delivery_total_fn();


--
-- Name: section_materials trg_update_total_cost; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_total_cost BEFORE INSERT OR UPDATE ON public.section_materials FOR EACH ROW EXECUTE FUNCTION public.update_total_cost();


--
-- Name: section_works trg_update_work_total_cost; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_work_total_cost BEFORE INSERT OR UPDATE ON public.section_works FOR EACH ROW EXECUTE FUNCTION public.update_work_total_cost();


--
-- Name: accounts_guestrequest accounts_guestreques_user_id_9b57bc70_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_guestrequest
    ADD CONSTRAINT accounts_guestreques_user_id_9b57bc70_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_keys(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brigade_members brigade_members_brigade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_members
    ADD CONSTRAINT brigade_members_brigade_id_fkey FOREIGN KEY (brigade_id) REFERENCES public.brigades(id) ON DELETE CASCADE;


--
-- Name: brigade_members brigade_members_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_members
    ADD CONSTRAINT brigade_members_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: brigade_status_history brigade_status_history_brigade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_status_history
    ADD CONSTRAINT brigade_status_history_brigade_id_fkey FOREIGN KEY (brigade_id) REFERENCES public.brigades(id) ON DELETE CASCADE;


--
-- Name: brigade_status_history brigade_status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_status_history
    ADD CONSTRAINT brigade_status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: brigade_work_history brigade_work_history_brigade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_work_history
    ADD CONSTRAINT brigade_work_history_brigade_id_fkey FOREIGN KEY (brigade_id) REFERENCES public.brigades(id) ON DELETE CASCADE;


--
-- Name: brigade_work_history brigade_work_history_section_work_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigade_work_history
    ADD CONSTRAINT brigade_work_history_section_work_id_fkey FOREIGN KEY (section_work_id) REFERENCES public.section_works(id) ON DELETE CASCADE;


--
-- Name: brigades brigades_leader_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brigades
    ADD CONSTRAINT brigades_leader_id_fkey FOREIGN KEY (leader_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: construction_sites construction_sites_management_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_sites
    ADD CONSTRAINT construction_sites_management_id_fkey FOREIGN KEY (management_id) REFERENCES public.managements(id) ON DELETE SET NULL;


--
-- Name: construction_sites construction_sites_responsible_engineer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_sites
    ADD CONSTRAINT construction_sites_responsible_engineer_id_fkey FOREIGN KEY (responsible_engineer_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: deliveries deliveries_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE SET NULL;


--
-- Name: deliveries deliveries_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON DELETE RESTRICT;


--
-- Name: delivery_items delivery_items_delivery_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_items
    ADD CONSTRAINT delivery_items_delivery_id_fkey FOREIGN KEY (delivery_id) REFERENCES public.deliveries(id) ON DELETE CASCADE;


--
-- Name: delivery_items delivery_items_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_items
    ADD CONSTRAINT delivery_items_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE RESTRICT;


--
-- Name: django_admin_log django_admin_log_content_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_fkey FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id);


--
-- Name: employees employees_position_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_position_id_fkey FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE RESTRICT;


--
-- Name: equipment equipment_assigned_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_assigned_site_id_fkey FOREIGN KEY (assigned_site_id) REFERENCES public.construction_sites(id) ON DELETE SET NULL;


--
-- Name: equipment_work_history equipment_work_history_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_work_history
    ADD CONSTRAINT equipment_work_history_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(id) ON DELETE CASCADE;


--
-- Name: equipment_work_history equipment_work_history_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_work_history
    ADD CONSTRAINT equipment_work_history_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.construction_sites(id) ON DELETE CASCADE;


--
-- Name: employees fk_employees_position; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT fk_employees_position FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE RESTRICT;


--
-- Name: work_types fk_work_types_unit; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_types
    ADD CONSTRAINT fk_work_types_unit FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: managements managements_head_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.managements
    ADD CONSTRAINT managements_head_employee_id_fkey FOREIGN KEY (head_employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: material_plan material_plan_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_plan
    ADD CONSTRAINT material_plan_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: material_plan material_plan_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_plan
    ADD CONSTRAINT material_plan_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE CASCADE;


--
-- Name: material_usage_items material_usage_items_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage_items
    ADD CONSTRAINT material_usage_items_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE RESTRICT;


--
-- Name: material_usage material_usage_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage
    ADD CONSTRAINT material_usage_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: material_usage material_usage_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_usage
    ADD CONSTRAINT material_usage_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE CASCADE;


--
-- Name: materials materials_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON DELETE RESTRICT;


--
-- Name: materials materials_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE RESTRICT;


--
-- Name: plan_materials plan_materials_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_materials
    ADD CONSTRAINT plan_materials_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE RESTRICT;


--
-- Name: plan_materials plan_materials_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_materials
    ADD CONSTRAINT plan_materials_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.section_work_plan(id) ON DELETE CASCADE;


--
-- Name: section_materials section_materials_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_materials
    ADD CONSTRAINT section_materials_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: section_materials section_materials_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_materials
    ADD CONSTRAINT section_materials_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE CASCADE;


--
-- Name: section_work_plan section_work_plan_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_work_plan
    ADD CONSTRAINT section_work_plan_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE RESTRICT;


--
-- Name: section_work_plan section_work_plan_work_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_work_plan
    ADD CONSTRAINT section_work_plan_work_type_id_fkey FOREIGN KEY (work_type_id) REFERENCES public.work_types(id) ON DELETE RESTRICT;


--
-- Name: section_works section_works_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_works
    ADD CONSTRAINT section_works_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE CASCADE;


--
-- Name: section_works section_works_work_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_works
    ADD CONSTRAINT section_works_work_type_id_fkey FOREIGN KEY (work_type_id) REFERENCES public.work_types(id) ON DELETE CASCADE;


--
-- Name: sections sections_brigade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_brigade_id_fkey FOREIGN KEY (brigade_id) REFERENCES public.brigades(id) ON DELETE SET NULL;


--
-- Name: sections sections_chief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_chief_id_fkey FOREIGN KEY (chief_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: sections sections_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.construction_sites(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict EOINhLBRz7EHgqLG13UFfN3O7PsxfrZfHkpRkWZNgS0uCcqVxiZ6UBmO9GPWOx9

