{% load static %} <!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    <link rel="stylesheet" href="{% static 'users/css/forms.css' %}">
</head>
<body>

<div class="form-wrapper">
    <h2>Вхід</h2>

    {% if form.non_field_errors %}
        <div class="errorlist">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Увійти</button>
    </form>

    <p class="auth-link">
        Немає аккаунту? <a href="{% url 'signup' %}">Зареєструватися</a>
    </p>
    <p class="auth-link">
    Або
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="/home/">
        <button type="submit" class="link-button">увійти як гість</button>
    </form>
</div>

</body>
</html>