{% extends "core/layout.html" %}
{% load static %}

{% block title %}Техніка{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pages/equipment/equipment.css' %}">
    <link rel="stylesheet" href="{% static 'components/modal.css' %}">
{% endblock %}

{% block content %}
    <h1 class="page-title">Техніка</h1>

    {% if current_role in "admin operator" %}
        <button id="openModalBtn" class="btn-main">Додати техніку</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span id="closeModalBtn" class="close">&times;</span>
                <h2 class="modal-title">Додати нову техніку</h2>

                <form method="post" action="{% url 'equipment:add' %}" class="styled-form">
                    {% csrf_token %}

                    <label>Назва:</label>
                    <input type="text" name="name" required>

                    <label>Тип:</label>
                    <select name="type_id" required>
                        <option value="">-- Оберіть тип --</option>
                        {% for id, title in types %}
                            <option value="{{ id }}">{{ title }}</option>
                        {% endfor %}
                    </select>

                    <label>Статус:</label>
                    <select name="status">
                        <option value="В роботі">В роботі</option>
                        <option value="На ремонті">На ремонті</option>
                        <option value="Вільна">Вільна</option>
                    </select>

                    <label>Закріплений об’єкт:</label>
                    <select name="assigned_site_id">
                        <option value="">-- Оберіть об’єкт --</option>
                        {% for id, name in sites %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>

                    <label>Примітки:</label>
                    <textarea name="notes" rows="3"></textarea>

                    <button type="submit" class="btn-save">Зберегти</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="table-wrapper">
        <table class="styled-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Об'єкт</th>
                <th>Примітки</th>
                {% if current_role in "admin operator" %}
                <th>Дії</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for e in equipment %}
                <tr>
                    <td>{{ e.0 }}</td>
                    <td>{{ e.1 }}</td>
                    <td>{{ e.2 }}</td>
                    <td>{{ e.3 }}</td>
                    <td>{{ e.4|default:"--" }}</td>
                    <td>{{ e.5|default:"--" }}</td>

                    {% if current_role in "admin operator" %}
                    <td class="row-actions">
                        <a href="{% url 'equipment:delete' e.0 %}"
                           class="action-delete"
                           onclick="return confirm('Видалити техніку?')">
                            Видалити
                        </a>
                        <span>|</span>
                        <a href="{% url 'equipment:edit' e.0 %}"
                           class="action-edit">
                            Редагувати
                        </a>
                    </td>
                {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="empty-row">Немає записів</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'equipment/js/equipment.js' %}"></script>

{% endblock %}
