{% extends "core/layout.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/deliveries/success.css' %}">
{% endblock %}

{% block content %}
<div class="success-page">

    <div class="success-card">
        <h2>Доставку успішно додано!</h2>
        <p>Матеріали були внесені до системи, склад оновлено автоматично.</p>
    </div>

    <div class="buttons">
        <a href="{% url 'deliveries:add_delivery' %}" class="btn-main">Додати ще доставку</a>
        <a href="{% url 'deliveries:deliveries_list' %}" class="btn-secondary">Перейти до історій доставок</a>
    </div>

</div>
{% endblock %}