.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
}

.modal-content {
  background: grey;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  position: relative;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
