{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{% static 'pages/accounts/forgot_password.css' %}">
<body>
<div class="forgot-container">

    <h1>Відновлення пароля</h1>

    <form method="post">
        {% csrf_token %}
        <label>Введіть ваш логін:</label>
        <input type="text" name="username" required>

        <button type="submit" class="submit-btn">Отримати код</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if message %}
        <p class="success">{{ message }}</p>
    {% endif %}

    <a href="{% url 'reset_code' %}" class="confirm-link">Підтвердити код</a>

</div>
<p></p>
</body>
</html>