{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{% static 'pages/accounts/reset_password.css' %}">
<body>
<div class="resetpw-container">

    <h1>Новий пароль</h1>

    <form method="post">
        {% csrf_token %}
        <label>Введіть новий пароль:</label>
        <input type="password" name="password" required>

        <button type="submit" class="submit-btn">Змінити пароль</button>
    </form>

</div>
<p></p>
</body>
</html>