{% extends "core/layout.html" %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<h1>Інформаційна панель</h1>

<div class="dashboard">
  <div class="card">
    <h2>{{ total_sites }}</h2>
    <p>Усього об’єктів</p>
  </div>

  <div class="card">
    <h2>{{ total_employees }}</h2>
    <p>Працівників у системі</p>
  </div>

  <div class="card">
    <h2>{{ completed_sites }}</h2>
    <p>Завершених об’єктів</p>
  </div>
</div>

<link rel="stylesheet" href="{% static 'core/css/main_page.css' %}">
{% endblock %}
