{% extends "core/layout.html" %}
{% load static %}

{% block title %}Головна{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pages/core/main_page.css' %}">
{% endblock %}
{% block content %}
    <div class="welcome">
        {% if current_user %}
            <h1>Інформаційна панель</h1>
        {% else %}
            <h1>Зареєструйтесь або увійдіть у систему</h1>
        {% endif %}

        {% if current_user and current_user.role == "guest" %}
            <a href="{% url 'accounts:send_access' %}" class="btn">Надіслати заявку на авторизацію</a>
        {% endif %}
    </div>
    {% if current_role in "admin operator authorized" %}
        <div class="dashboard">
            <div class="card">
                <h2>{{ total_sites }}</h2>
                <p>Усього об’єктів</p>
            </div>

            <div class="card">
                <h2>{{ total_employees }}</h2>
                <p>Працівників у системі</p>
            </div>

            <div class="card">
                <h2>{{ completed_sites }}</h2>
                <p>Завершених об’єктів</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
