<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
</head>
<body>
<div class="layout">
    <aside>
        <div class="user-info">
            {% if user.is_authenticated %}
                <p>Привіт, {{ user.first_name|default:user.username }}!</p>
                {% else %}
                <p>Привіт, Гість</p>
            {% endif %}
            <a href="{% url 'login' %}" class="logout-btn">Вийти</a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'home:home' %}">Головна</a></li>
                {# core #}
                <li><a href="{% url 'managers:managers' %}">Керівники</a></li>
                {# managers #}
                <li><a href="{% url 'brigades:brigades' %}">Бригади</a></li>
                {# brigades #}
                <li><a href="{% url 'employees:index' %}">Працівники</a></li>
                {# employees #}
                <li><a href="{% url 'workplan:workplan' %}">План робіт</a></li>
                {# workplan #}
                <li><a href="{% url 'materials:index' %}">Матеріали</a></li>
                {# materials #}
                <li><a href="{% url 'reports:reports' %}">Звіти</a></li>
                {# reports #}
                <li><a href="{% url 'home:about' %}">Про курсову роботу</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        {% block content %} {% endblock %}
    </main>
</div>
</body>
</html>