<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pages/core/base.css' %}">
    <link rel="stylesheet" href="{% static 'pages/core/layout.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<div class="layout">
    <aside>
        <div class="user-info">

            {% if current_user %}
                <p>
                    Привіт, {{ current_user.username }}!
                    <br>
                    <small>Роль:
                        {% if current_user.role == "admin" %}Адміністратор СД
                        {% elif current_user.role == "operator" %}Оператор СД
                        {% elif current_user.role == "authorized" %}Авторизований користувач
                        {% else %}Гість
                        {% endif %}
                    </small>
                </p>
                <a href="{% url 'accounts:logout' %}" class="logout-btn">Вийти</a>
            {% else %}
                <p>Привіт, Гість</p>
                <a href="{% url 'accounts:login' %}" class="logout-btn">Увійти</a>
                <a href="{% url 'accounts:register' %}" class="logout-btn">Зареєструватись</a>
            {% endif %}

        </div>

        <nav class="nav-menu">
            <ul>
                <li>{% if request.session.role == "admin" %}
                    <a href="{% url 'accounts:manage_users' %}">Керування користувачами</a>
                {% endif %}
                </li>
                {% if current_user and current_user.role == "admin" %}
                    <a href="{% url 'accounts:manage_requests' %}">Заявки гостей</a>
                {% endif %}
                <li><a href="{% url 'home:home' %}">Головна</a></li>
                {# core #}

                {% if current_role in "authorized operator admin" %}
                    <li><a href="{% url 'sites:index' %}">Будівельні об'єкти</a></li>
                    {# sites #}
                    <li><a href="{% url 'management:index' %}">Будівельні управління</a></li>
                    {# management #}
                    <li><a href="{% url 'management:engineers' %}">Інженерно-технічний персонал</a></li>
                    {# management #}
                    <li><a href="{% url 'brigades:index' %}">Бригади</a></li>
                    {# brigades #}
                    <li><a href="{% url 'employees:index' %}">Працівники</a></li>
                    {# employees #}
                    <li><a href="{% url 'equipment:index' %}">Техніка</a></li>
                    {# equipment #}
                    {% if current_role in "admin operator" %}
                        <li><a href="{% url 'works:index' %}">Види робіт</a></li>
                        {# works #}
                    {% endif %}
                    <li><a href="{% url 'materials:index' %}">Матеріали та постачальники</a></li>
                    {# materials #}
                    <li><a href="{% url 'reports:reports_menu' %}">Звіти</a></li>
                    {# reports #}

                    {% if current_role in "admin operator" %}
                        <li><a href="{% url 'deliveries:add_delivery' %}">Оформити доставку</a></li>
                        {# deliveries #}
                    {% endif %}

                    <li><a href="{% url 'deliveries:deliveries_list' %}">Історія доставок</a></li>
                    {# deliveries #}
                    <li><a href="{% url 'home:about' %}">Про курсову роботу</a></li>
                    {# core #}
                    {% if current_role == "admin" or current_role == "operator" or current_role == "authorized" %}
                        <li><a href="{% url 'accounts:sql_console' %}">SQL Консоль</a></li>
                    {% endif %}
                    {% if current_role == "admin" or current_role == "operator" or current_role == "authorized" %}
                        <li><a href="{% url 'accounts:saved_queries' %}">Збережені SQL-запити </a></li>
                    {% endif %}

                {% endif %}
            </ul>
        </nav>
    </aside>
    <main>
        {% block content %} {% endblock %}
    </main>
</div>
</body>
{% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<script>
    setTimeout(() => {
        document.querySelectorAll(".alert").forEach(el => {
            el.style.transition = "0.5s";
            el.style.opacity = "0";
            setTimeout(() => el.remove(), 500);
        });
    }, 3000);
</script>
</html>