/* Контейнер для всього контенту */
.dashboard {
  display: flex;
  justify-content: center;    /* Горизонтальне вирівнювання */
  align-items: center;        /* Вертикальне вирівнювання */
  flex-wrap: wrap;
  gap: 40px;
  min-height: 80vh;           /* Щоб блок займав більшу частину сторінки */
}

/* Картки */
.card {
  background-color: #F5F5F5;
  color: #fff;
  padding: 25px 35px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: center;
  width: 260px;
  transition: 0.2s;
}

.card:hover {
  background-color: #2C3E50;
  transform: translateY(-5px);
}

/* Стиль чисел */
.card h2 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #FF9800;
}

/* Підпис під числом */
.card p {
  font-size: 1.1em;
  color: #FF9800;
}

/* Заголовок сторінки */
h1 {
  text-align: center;
  color: #FF9800;
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}
