{% extends "core/layout.html" %}
{% load static %}
{% block title %}Будівельні управління{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'components/modal.css' %}">
    <link rel="stylesheet" href="{% static 'pages/management/management.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Будівельні управління</h1>
{% if current_role in "admin operator" %}
<button id="openModalBtn" class="btn-orange">Додати управління</button>

<div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn" class="close">&times;</span>
        <h2>Нове управління</h2>

        <form method="post" action="{% url 'management:add_management' %}" class="styled-form">
            {% csrf_token %}

            <label>Назва управління:</label>
            <input type="text" name="name" required>

            <label>Керівник управління:</label>
            <select name="head_employee_id">
                <option value="">-- Оберіть керівника --</option>
                {% for id, name in engineers %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>

            <label>Примітки:</label>
            <textarea name="notes" rows="3"></textarea>

            {% if error_msg %}
                <p class="error-msg">{{ error_msg }}</p>
            {% endif %}

            <button type="submit" class="btn-save">Зберегти</button>
        </form>
    </div>
</div>
{% endif %}

<div class="table-wrapper">
    <table class="styled-table">
        <thead>
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Керівник</th>
            <th>Примітки</th>
            {% if current_role in "admin operator" %}
            <th>Дії</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for m in managements %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ m.1 }}</td>
                <td>{{ m.2|default:"—" }}</td>
                <td>{{ m.3|default:"—" }}</td>
                {% if current_role in "admin operator" %}
                <td>
                    <a href="{% url 'management:delete_management' m.0 %}"
                       class="btn-delete"
                       onclick="return confirm('Видалити управління?')">Видалити</a>
                    |
                    <a href="{% url 'management:edit_management' m.0 %}"
                       class="btn-edit">Редагувати</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'management/js/management.js' %}"></script>
{% endblock %}
