.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #6a6a6a;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #444;
  border-radius: 8px;
  width: 400px;
}

button#openModalBtn {
  margin-bottom: 15px;
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#openModalBtn:hover {
  background-color: #2980b9;
}

/* Кнопка */
.add-btn {
  background-color: #1e90ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.add-btn:hover {
  background-color: #0b78e3;
}

.close {
  color: #aaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: white;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px 0;
  border-radius: 4px;
  border: 1px solid #555;
  background: #3a3a3a;
  color: white;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.confirm-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}
